body {
    font-family: 'Gugi';
    background-color: burlywood;
}

h1 {
    text-align: center;
    font-size: 45px;
}

div {
    display: grid;
    justify-content: center;
    align-items: center;
}

table {
    border-style: solid;
    border-color: #444342;
    width: 810px;
    height: 810px;
    box-shadow: 5px 10px 5px #6d6666;
}


tr {
    text-align: center;
}

td {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#startBtn {
    display: flex;
    justify-self: center;
    text-align: center;
    margin-top: 20px;
}

div.gamePiece {
    border-radius: 50%;
    border-style: solid;
    height: 80px;
    width: 80px;
    display: inline-block;
    box-shadow: 4px 4px 4px #4e3c3ca8;
}


@media only screen and (max-width: 500px) {
    table {
        width: 380px;
        height: 380px;
    }
    div.gamePiece {
        height: 40px;
        width: 40px;
    }
}