body {
    background-color: slategray;
    color: whitesmoke;
}

h1 {
    display: flex;
    justify-content: center;
}

div.gameBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 500px;
    border-style: dashed;
    
}

div.stickman {
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    justify-items: center;
    position: absolute;
}

h6 {
    color:slategray;
}

.word {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}